extends layout

block content
  section(class = "hero is-medium")
    div(class = "hero-head")
      nav(class = "navbar")
      
          div(class = "navbar-end")
            a(class = "navbar-item")
              span(class = "icon is-medium") 
                i(class = "fas fa-home")
              |Home

            a(class = "navbar-item")
              span(class = "icon is-medium") 
                i(class = "fas fa-book-open")
              |About Me

            a(class = "navbar-item")
              span(class = "icon is-medium") 
                i(class = "fas fa-bolt")
              |Skills
              
            a(class = "navbar-item")
              span(class = "icon is-medium") 
                i(class = "fas fa-project-diagram")
              |Projects

            a(class = "navbar-item")
              span(class = "icon is-medium") 
                i(class = "fas fa-envelope")
              |Contact Me
    div(class = "hero-body")
      <center class = "nombre">Jesus Sanchez</center>
      center
        div(class = "letritas")
          br
          |Hello There
                   
//- ABOUT ME -------------------------------------------
block aboutMe
    div(class = "columns")
      div(class = "column is-2")
      div(class = "column is-8")
        div(class = "box")
          span(class = "sections") 
            |About Me
          p
            |I am a very responsible and motivated individual. I'm very friendly and am always 
            |willing to give back to those who've helped me in the past. One of my main goals as a 
            |college student is to graduate while learning about people. I like working with others 
            |whether it's homework or something unrelated to school. I'm very curious about different 
            |fields, not just my own (CSE). For example, I like reading philosophy on my free time. I'm also always willing to 
            |learn different things, I like to challenge myself with hard tasks. I learn from mistakes.

          span(class = "sections") 
            |Skills
          div
            div(class = "columns")
              
              div(class = "column")
                div(class = "skill")
                  div(class ="sLabel")
                    |&nbsp; &nbsp;  C/C++
                  br
                  img(src = "/images/C++.png")
                  center
                    span(class = "skill-level")
                      |Proficient
              div(class = "column")
                div(class = "skill")
                  div(class ="sLabel")
                    |&nbsp; &nbsp; &nbsp; SQL
                  br
                  img(src = "/images/sql.png")
                  center
                    span(class = "skill-level")
                      |Proficient   
              div(class = "column")
                div(class = "skill")
                  div(class ="sLabel")
                    |&nbsp;&nbsp; &nbsp;  HTML
                  br
                  img(src = "/images/HTML.png")
                  center
                    span(class = "skill-level")
                      |Proficient
              div(class = "column")
                div(class = "skill")
                  div(class ="sLabel")
                    |&nbsp; &nbsp; &nbsp;  CSS
                  br
                  img(src = "/images/CSS.png" )
                  center
                    span(class = "skill-level")
                      |Proficient 

            div(class = "columns")
              
              div(class = "column")
                div(class = "skill")
                  div(class ="sLabel")
                    |&nbsp; &nbsp; Python
                  br
                  img(src = "/images/python.png")
                  center
                    span(class = "skill-level")
                      |Proficient
              div(class = "column")
                div(class = "skill")
                  div(class ="sLabel")
                    |&nbsp; JavaScript
                  br
                  img(src = "/images/javascript.png")
                  center
                    span(class = "skill-level")
                      |Proficient   
              div(class = "column")
                div(class = "skill")
                  div(class ="sLabel")
                    |&nbsp;&nbsp;  Nodejs
                  br
                  img(src = "/images/nodejs.png")
                  center
                    span(class = "skill-level")
                      |Proficient
              div(class = "column")
                div(class = "skill")
                  div(class ="sLabel")
                    |&nbsp; &nbsp;&nbsp;  Java
                  br
                  img(src = "/images/java.png" )
                  center
                    span(class = "skill-level")
                      |Proficient               
                  
      div(class = "column is-2")
      


//- FOOTER ---------------------------------------------- 
block footer
  footer(class = "footer")
    div(class = "columns")
      div(class = "column is-2")
      div(class = "column is-8")
        div(class = "contenedor")
          hr
          center
            |Thanks for coming by!
            br
            |Check me out at
        center
          div(class = "columns")
            div(class = "column is-4")
            div(class = "column")
              span(class = "icon is-large") 
                i(class = "fab fa-linkedin fa-3x")

            div(class = "column")
              span(class = "icon is-large") 
                i(class = "fab fa-github-square fa-3x")

            div(class = "column")
              span(class = "icon is-large") 
                i(class = "fas fa-envelope-square fa-3x")

            div(class = "column is-4")
        div(class = "column is-2")


   
    



      

      
