span(class = "sections") 
            |Skills
          div
            div(class = "columns")
              
              div(class = "column")
                div(class = "skill")
                  div(class ="sLabel")
                    |&nbsp; &nbsp;  C/C++
                  br
                  img(src = "/images/C++.png")
                  center
                    span(class = "skill-level")
                      |Proficient
              div(class = "column")
                div(class = "skill")
                  div(class ="sLabel")
                    |&nbsp; &nbsp; &nbsp; SQL
                  br
                  img(src = "/images/sql.png")
                  center
                    span(class = "skill-level")
                      |Proficient   
              div(class = "column")
                div(class = "skill")
                  div(class ="sLabel")
                    |&nbsp;&nbsp; &nbsp;  HTML
                  br
                  img(src = "/images/HTML.png")
                  center
                    span(class = "skill-level")
                      |Proficient
              div(class = "column")
                div(class = "skill")
                  div(class ="sLabel")
                    |&nbsp; &nbsp; &nbsp;  CSS
                  br
                  img(src = "/images/CSS.png" )
                  center
                    span(class = "skill-level")
                      |Proficient 

            div(class = "columns")
              
              div(class = "column")
                div(class = "skill")
                  div(class ="sLabel")
                    |&nbsp; &nbsp; Python
                  br
                  img(src = "/images/python.png")
                  center
                    span(class = "skill-level")
                      |Proficient
              div(class = "column")
                div(class = "skill")
                  div(class ="sLabel")
                    |&nbsp; JavaScript
                  br
                  img(src = "/images/javascript.png")
                  center
                    span(class = "skill-level")
                      |Proficient   
              div(class = "column")
                div(class = "skill")
                  div(class ="sLabel")
                    |&nbsp;&nbsp;  Nodejs
                  br
                  img(src = "/images/nodejs.png")
                  center
                    span(class = "skill-level")
                      |Proficient
              div(class = "column")
                div(class = "skill")
                  div(class ="sLabel")
                    |&nbsp; &nbsp;&nbsp;  Java
                  br
                  img(src = "/images/java.png" )
                  center
                    span(class = "skill-level")
                      |Proficient  