.hero-head{
  background-color:black;
  position: fixed;
  width: 100%;
}


.navbar-item{
  color: white;
}


.hero{
  background-color: rgb(97, 180, 206);
}

.nombre{
  font-variant: small-caps;
  font-size: 50px;
  color:white;

}

.letritas{
font-variant: small-caps;
font-size: 20px;
color:white;
}

.hero{
  border-bottom: outset 10px rgb(36, 191, 202);;
}

.footer{
  background-color: rgb(97, 180, 206);
  border-top: outset 10px rgb(36, 191, 202);
}

.contenedor{
  padding: 10px 0px 10px;
  font-size: 20px;
  font-weight: bold;
  color: white;
}

.sections{
  font-family: sans-serif;
  font-size: 40px;
  color: black;
  padding: 10px 10px 10px;
}

/*SKILL CLASSES */
.skill{
  padding: 10px;
  color: white;
  background-color: #1d86d1;
  border: white 1px solid;
}

.skill:hover{
  color: #1d86d1;
  background-color: white;
  border: black 1px solid;
  cursor: pointer;
}

#skill-level{
  border: 1px black solid;
  width: 100%;
  height: 387px;
}

.sLabel{
  background-color: black;
  color: yellow;
  border-radius: 50%;
  width: 85px;
  height: 30px;
}

.linko {
  color: white;

}

/* ACCORDION STUFF */

.accordion{
  width: 100%;
  height: 50px;
  background-color: grey;
  color: white;
  text-align: left;
  transition: .5s;
}

.active, .accordion:hover{
  background-color: white;
  color: grey;
}

/*content for pictures with accordion effect*/
.content{

  color: white;
  border: 1px black solid;
  background-color: black;
  width: 348px;
  

}

.content:hover{
  background-color: white;
  border: 1px black solid;
  color: black;
  cursor: pointer;
  
}

.caja
{
  width: 350px;
  border: 5px black solid;
}

.accordion-appear{
  display: none;
  width: 350px;
  border: 1px black solid;
  text-align: left;
}

.content-container{
  
  width: 350px;
}

