.hero-head{
  background-color:black;
  position: fixed;
  width: 100%;
}


.navbar-item{
  color: white;
}


.hero{
  background-color: rgb(46, 136, 163);
}

.nombre{
  font-variant: small-caps;
  font-size: 50px;
  color:white;

}

.letritas{
font-variant: small-caps;
font-size: 20px;
color:white;
}

.hero{
  border-bottom: outset 10px rgb(36, 191, 202);;
}

.footer{
  background-color: rgb(46, 136, 163);;
  border-top: outset 10px rgb(36, 191, 202);
}

.contenedor{
  padding: 10px 0px 10px;
  font-size: 20px;
  font-weight: bold;
  color: white;
}

.sections{
  font-family: sans-serif;
  font-size: 40px;
  color: black;
  padding: 10px 10px 50px;
}

.skill{
  padding: 10px 10px;
  background-color: rgba(106, 158, 158, 0.973);
  border-radius: 30px;
}

.skill-level{
  font-size: 30px;
  color: black;
}

.sLabel{
  background-color: black;
  color: yellow;
  border-radius: 50%;
  width: 85px;
  height: 30px;
}